@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Mobsites/Blazor.SignaturePad" target="_blank" class="ml-md-auto pr-2 pr-md-0">
            <img src="_content/Shared/dark-github.png" width="24" height="24" />
        </a>
        <a href="https://github.com/Mobsites" target="_blank" class="pr-2 pr-md-0">
            <img src="_content/Shared/mobsites-logo.png" width="24" height="24" />
        </a>
        <a href="https://github.com/allan-mobley-jr" target="_blank">
            <img src="_content/Shared/me.png" width="24" height="24" />
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
