<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand ml-3">Demo</div>
    <a href="https://github.com/Mobsites/Blazor.SignaturePad" target="_blank" class="ml-auto pr-2"><img src="light-github.png" width="24" height="24" /></a>
    <a href="https://github.com/Mobsites" target="_blank" class="pr-2"><img src="mobsites-logo.png" width="24" height="24" /></a>
    <a href="https://github.com/allan-mobley-jr" target="_blank"><img src="me.png" width="24" height="24" /></a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.mobsites.com/blazor-signature-pad" target="_blank">
                <span class="oi oi-document" aria-hidden="true"></span> Docs
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
