@inherits StatefulComponent

@{
    string backgroundColor = BackgroundMode == BackgroundModes.Image 
        ? $"background-color: {BackgroundColor ?? "white"};" 
        : null;
}

<div id="signature-pad" class="signature-pad @Class" style="@Style @backgroundColor" @attributes="@ExtraAttributes">
    <div class="signature-pad--body">
        @{
            string background = !string.IsNullOrWhiteSpace(Image) && BackgroundMode != BackgroundModes.Image
                ? $"background: url({Image}) center / {ImageWidth}px {ImageHeight}px no-repeat;"
                : null;
        }
        <canvas @ref="Canvas" id="signature-pad--canvas" style="@background"></canvas>
    </div>
    @if (ChildContent != null)
    {
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    }
</div>