@inherits StatefulComponent

<div id="signature-pad" class="signature-pad @Class" style="@Style" @attributes="@ExtraAttributes">
    <div class="signature-pad--body">
        @{
            string background = !string.IsNullOrWhiteSpace(BackgroundImage)
                ? $"background: url({BackgroundImage}) center / {BackgroundImageWidth}px {BackgroundImageHeight}px no-repeat;"
                : null;
        }
        <canvas id="signature-pad--canvas" style="@background"></canvas>
    </div>
    @if (ChildContent != null)
    {
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    }
</div>